*,
::before,
::after {
  box-sizing: border-box;

  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #2f3a98, #031f47);
  padding: clamp(20px, 5vw, 50px) 10px 40px;
  color:rgb(246, 249, 249);
  background: url("https://i0.wp.com/salienthealthcare.com/wp-content/uploads/2020/03/AdobeStock_133621255-scaled.jpeg?ssl=1") no-repeat;
  background-size: cover;
}

.container {
  max-width: 600px;
  background: #3f3f5d;
  border: 1px solid #042e2a92;
  margin-left:20px ;
  padding: 1px;
  margin: right;
  border-radius: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}


li{
  margin-right: 40%;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 150px;
    border-radius: 20px;
}

nav a {
	color: #fcf9f9;
	text-decoration: rgb(245, 240, 240);
    white-space: 20px;
    border-radius: 20px;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  margin-top:-4% ;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
  border-radius: 20px;
}

h1 span {
  font-weight: 700;
  border-radius: 20px;
}

.inputs-container {
 
  justify-content: center;
  align:center
  border-radius: 20px;
}

.inputs-container label {
  display: block;
  margin-bottom: 10px;
  margin-left: 40%;
  font-weight: 400;
}

.inputs-container input {
  min-width: 350px;
  font-style: 18px;
  margin-left: 20%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #333;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.inputs-container input:focus {
  outline: 1px solid #222222be;
}



form button{
  font-size: 20px;
  min-width: 0px;
  margin: 40px auto;
  display: block;
  padding: 10px;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  color: #2c2525;
  cursor: pointer;
  background: #edf6ff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
form button:hover {
  background: #e1ad2b;
}


.inline, .info{
    text-align: center;
}
.bmi-value {
  font-size: 45px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.result,div {
  font-family: Raleway, sans-serif;
  font-size: 20px;

}

/* RESPONSIVE */
@media (max-width: 800px) {
  .container {
    max-width: 600px;
  }

  .inputs-container{
    flex-direction: column;
    align-items: center;
  }

  .input-group:nth-child(2) {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .input-group {
    width: 100%;
  }
  .input-group input {
    width: 100%;
    min-width: auto;
  }
}